<body class="page">

  <header class="header">
    <div class="athena">
      <img src="/assets/imagesOk/Athena.svg" alt="Athena">
    </div>
    <div class="bandeauTriangles">
      <div class="triangleDroit"></div>
      <div class="triangleGauche"></div>
    </div>
  </header>

    <main>
        <section class="conteneurIcones">
            <article class="boxIcones" [@icone1Animation]="state">
                <div>
                  <a href="#" [routerLink]="'/statistiques'"><img src="/assets/images/iconeStat.svg" class="icone"/></a>
                </div>
                <div class="nomCategorie">statistiques</div>
            </article>

            <article>
              <div class="petitRond"></div>
            </article>
            <article class="boxIcones" [@icone2Animation]="state">
              <div>
                <a href="#" [routerLink]="'/listClient'"><img src="/assets/images/iconeClients.svg" class="icone"/></a>
              </div>
              <div class="nomCategorie">clients</div>
            </article>

            <article>
              <div class="petitRond"></div>
            </article>
            <article class="boxIcones" [@icone3Animation]="state">
              <div>
                <a href="#" [routerLink]="'/listProspects'"><img src="/assets/images/iconeProspect.svg" class="icone"/></a>
              </div>
              <div class="nomCategorie">prospects</div>
            </article>

            <article>
              <div class="petitRond"></div>
            </article>
            <article class="boxIcones" [@icone4Animation]="state">
              <div>
                <a href="#" [routerLink]="'/agenda'"><img src="/assets/images/iconeAgenda.svg" class="icone"/></a>
              </div>
              <div class="nomCategorie">agenda</div>
            </article>
<!--
            <article>
              <div class="petitRond"></div>
            </article>
            <article class="boxIcones">
              <div>
                <a href="#" [routerLink]="'/parametres'"><img src="/assets/images/iconeParam.svg" class="icone"/></a>
              </div>
              <div class="nomCategorie">paramètres</div>
            </article>
-->
        </section>
    </main>

  <footer >
    <div class="triangleBleuBas"></div>
  </footer>

</body>
