.fondCouleur {
  font-family: 'Rubik', sans-serif;
  background-color: #860E04;
  height: 100vh;
}
.chouetteAthena {
  width: 35%;
  height: auto;
  opacity: 0.5;
}
h3 {
  color: #860E04;
  border-bottom: #860E04 1px solid;
  width: 400px;
  padding-bottom: 15px;
}
.champForm {
  width: 300px;
  height: auto;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-bottom: 35px;
}
.connexion {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: -615px;
  margin-left: 915px;
}
.btnEssai {
  cursor: pointer;
  text-align: center;
  margin-top: 13%;
}
a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
}
a:hover {
  background-color: #fb8215;
}



/////////////////// VERSION IPAD ///////////////////
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .chouetteAthena {
    width: 50%;
    height: auto;
    opacity: 0.5;
  }
  .connexion {
    margin-top: -500px;
    margin-left: 625px;
  }
}

/////////////////// VERSION MOBILE ///////////////////
@media screen and (min-width: 375px) and (max-width: 767px) {
  .fondCouleur {
    height: 100%;
  }
  .chouetteAthena {
    width: 70%;
    height: auto;
    opacity: 0.5;
  }
  .connexion {
    margin: auto;
    margin-top: 15%;
  }
  .btnEssai {
    margin-top: 10%;
    margin-bottom: 15%;
  }
}

