
<body class="page">
<header>
  <div class="triangleDroitOrange">
    <div class="rectangle"></div>
  </div>
  <div class="fondImage"></div>
  <div class="containerLogo">
    <div class="athena">
      <img src="/assets/imagesOk/Athena.svg" alt="Athena">
      <h1 class="slogan">Votre solution CRM</h1>
      <div class="btnConnexInscript">
        <div>
          <a href="#" [routerLink]="'/connexion'" class="connexion">se connecter</a>
        </div>
        <div>
          <a href="#" [routerLink]="'/inscription'" class="connexion">essai gratuit</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="site-content">
  <section>
    <article>
      <div class="aPropos">
        <h2>Qui sommes-nous ?</h2>
      </div>
    </article>
    <article class="icones">
      <div class="dimIcone"></div>
      <div class="dimIcone"></div>
      <div class="dimIcone"></div>
      <div class="dimIcone"></div>
    </article>

    <article>
      <div class="personnes">
        <!-- premier ensemble triangle droit-->
        <div class="bandeauTriangle">
          <div class="triangleOG">
            <svg xmlns="http://www.w3.org/2000/svg" width="375" height="139.505" viewBox="0 0 375 139.505">
              <path id="Triangle_orange_droit" data-name="Triangle orange droit" d="M373.479,1315.375l-375,48.243,375,91.263Z" transform="translate(1.521 -1315.375)" fill="#fb8215"/>
            </svg>
          </div>
          <div class="triangleBD">
            <svg xmlns="http://www.w3.org/2000/svg" width="259.942" height="61.871" viewBox="0 0 259.942 61.871">
              <path id="Triangle_orange_petit_gauche" data-name="Triangle orange petit droit" d="M0,740.672H259.942L0,802.543Z" transform="translate(0 -740.672)" fill="#e21504"/>
            </svg>
          </div>
        </div>
        <div>
          <div class="containerAthenien">
            <div class="athenienDescript">
              <div class="rondGrand"></div>
            </div>
            <div>
              <p class="nomPrenom">Laurène Flamey</p>
              <p class="description">bla blab blasdfeugb vêaugbae</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="personnes">
        <!-- deuxième ensemble triangle gauche-->
        <div class="bandeauTriangle">
          <div class="triangleOD">
            <svg xmlns="http://www.w3.org/2000/svg" width="259.94" height="61.871" viewBox="0 0 259.94 61.871">
              <path id="Triangle_rouge_droit" data-name="Triangle rouge droit" d="M259.94,740.672H0l259.94,61.871Z" transform="translate(0 -740.672)" fill="#e21504"/>
            </svg>
          </div>
          <div class="triangleBD">
            <svg xmlns="http://www.w3.org/2000/svg" width="375" height="139.505" viewBox="0 0 375 139.505">
              <path id="Triangle_Orange_Gauche" data-name="Triangle Orange gauche" d="M-1.521,1315.375l375,48.243-375,91.263Z" transform="translate(1.521 -1315.375)" fill="#fb8215"/>
            </svg>
          </div>
        </div>
        <div>
          <div class="containerAthenien">
            <div class="athenienDescript">
              <div class="rondGrand"></div>
            </div>
            <div>
              <p class="nomPrenom">Florian Nave</p>
              <p class="description">bla blab blasdfeugb vêaugbae</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="personnes">
        <!-- troisième ensemble triangle droit-->
        <div class="bandeauTriangle">
          <div class="triangleOG">
            <svg xmlns="http://www.w3.org/2000/svg" width="375" height="139.505" viewBox="0 0 375 139.505">
              <path id="Triangle_orange_droit" data-name="Triangle orange droit" d="M373.479,1315.375l-375,48.243,375,91.263Z" transform="translate(1.521 -1315.375)" fill="#fb8215"/>
            </svg>
          </div>
          <div class="triangleBD">
            <svg xmlns="http://www.w3.org/2000/svg" width="259.942" height="61.871" viewBox="0 0 259.942 61.871">
              <path id="Triangle_orange_petit_gauche" data-name="Triangle orange petit droit" d="M0,740.672H259.942L0,802.543Z" transform="translate(0 -740.672)" fill="#e21504"/>
            </svg>
          </div>
        </div>
        <div>
          <div class="containerAthenien">
            <div class="athenienDescript">
              <div class="rondGrand"></div>
            </div>
            <div>
              <p class="nomPrenom">Laurence Dejonghe</p>
              <p class="description">bla blab blasdfeugb vêaugbae</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="personnes">
        <!-- quatrième ensemble triangle gauche -->
        <div class="bandeauTriangle">
          <div class="triangleOD">
            <svg xmlns="http://www.w3.org/2000/svg" width="259.94" height="61.871" viewBox="0 0 259.94 61.871">
              <path id="Triangle_rouge_droit" data-name="Triangle rouge droit" d="M259.94,740.672H0l259.94,61.871Z" transform="translate(0 -740.672)" fill="#e21504"/>
            </svg>
          </div>
          <div class="triangleBD">
            <svg xmlns="http://www.w3.org/2000/svg" width="375" height="139.505" viewBox="0 0 375 139.505">
              <path id="Triangle_Orange_Gauche" data-name="Triangle Orange gauche" d="M-1.521,1315.375l375,48.243-375,91.263Z" transform="translate(1.521 -1315.375)" fill="#fb8215"/>
            </svg>
          </div>
        </div>
        <div>
          <div class="containerAthenien">
            <div class="athenienDescript">
              <div class="rondGrand"></div>
            </div>
            <div>
              <p class="nomPrenom">Félix Welden</p>
              <p class="description">bla blab blasdfeugb vêaugbae</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <div>
        <div class="bandeauTriangle">
          <div class="triangleOD">
            <svg xmlns="http://www.w3.org/2000/svg" width="259.94" height="61.871" viewBox="0 0 259.94 61.871">
              <path id="Triangle_rouge_droit" data-name="Triangle rouge droit" d="M259.94,740.672H0l259.94,61.871Z" transform="translate(0 -740.672)" fill="#e21504"/>
            </svg>
          </div>
          <div class="triangleBD">
            <svg xmlns="http://www.w3.org/2000/svg" width="375" height="139.505" viewBox="0 0 375 139.505">
              <path id="Triangle_Orange_Gauche" data-name="Triangle Orange gauche" d="M-1.521,1315.375l375,48.243-375,91.263Z" transform="translate(1.521 -1315.375)" fill="#860E04"/>
            </svg>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <div class="formAbonnement">
        <h2>Formules d'abonnements athéna</h2>
      </div>
    </article>

    <article class="articleAbonnement">
      <div class="formule">
        <span class="offreTitre">Starter</span>
        <hr>
        <div class="offre">
          <span class="offreDescription">CRM prêt à l'emploi <br> pour 10 utilisateurs maximum</span>
          <span class="prix">15 €<br></span>
          <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
          <a href="#" class="btnEssai" [routerLink]="'/inscriptionStarter'">ESSAI GRATUIT</a>
        </div>
      </div>
    </article>
    <article>
      <div class="formule">
        <span class="offreTitre">Premium</span>
        <hr>
        <div class="offre">
          <span class="offreDescription">CRM complet<br>pour 50 utilisateurs maximum</span>
          <span class="prix">35 €<br></span>
          <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
          <a href="#" class="btnEssai">ESSAI GRATUIT</a>
        </div>
      </div>
    </article>
    <article>
      <div class="formule">
        <span class="offreTitre">Enterprise</span>
        <hr>
        <div class="offre">
          <span class="offreDescription">CRM complet<br>sans limite d'utilisateurs</span>
          <span class="prix">70 €<br></span>
          <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
          <a href="#" class="btnEssai">ESSAI GRATUIT</a>
        </div>
      </div>
    </article>
  </section>
</main>

<footer class="site-footer">
  <div class="contact">
    <div class="fondContact">
      <svg xmlns="http://www.w3.org/2000/svg" width="375" height="306.625" viewBox="0 0 375 306.625">
        <path id="bandeau_contact" data-name="bandeau contact" d="M375,0H0V269.442l375,37.183Z" transform="translate(375 306.625) rotate(180)" fill="#860e04"/>
      </svg>
    </div>
    <div class="coordonnees">
      <h1>Contact</h1>
    </div>
  </div>
</footer>
</body>
