
<body class="page">
  <header>
    <div class="triangleDroitHaut" [@triangleAnimation]="state"></div>
    <div class="triangleDroitOrange">
      <div class="rectangle"></div>
    </div>
    <div class="rectangleTrianglePos">
      <div class="rectangleTriangle"></div>
    </div>
    <div class="fondImage"></div>
    <div class="containerLogo">
      <div class="athena" [@athenaAnimation]="state">
        <img src="/assets/imagesOk/Athena.svg" alt="Athena">
        <h1 class="slogan">Votre solution CRM</h1>
      </div>
    </div>

    <div class="btnConnexInscript" [@boutonAnimation]="state">
      <div>
        <a routerLink="connexion" routerLinkActive="active" class="connexion">se connecter</a>
      </div>
      <div class="positionFree">
        <a routerLink="inscription" routerLinkActive="active" class="essaiGratuit">essai gratuit</a>
      </div>
    </div>
  </header>

  <main class="site-content">
    <section>
      <article>
        <div class="aPropos">
          <h2>Qui sommes-nous ?</h2>
        </div>
      </article>
    </section>

    <section class="quiSommesNous">
      <article>
        <div class="personnes">
          <!-- premier ensemble triangle droit-->
          <div>
            <div class="containerAthenien">
              <div class="athenienDescript">
                <div class="rondGrand"></div>
              </div>
              <div>
                <p class="nomPrenom">Florian Nave</p>
                <p class="description">bla blab blasdfeugb vêaugbae</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="personnes">
          <!-- deuxième ensemble triangle gauche-->
          <div>
            <div class="containerAthenien">
              <div class="athenienDescript">
                <div class="rondGrand"></div>
              </div>
              <div>
                <p class="nomPrenom">Laurence Dejonghe</p>
                <p class="description">bla blab blasdfeugb vêaugbae</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="personnes">
          <!-- troisième ensemble triangle droit-->
          <div>
            <div class="containerAthenien">
              <div class="athenienDescript">
                <div class="rondGrand"></div>
              </div>
              <div>
                <p class="nomPrenom">Laurène Flamey</p>
                <p class="description">bla blab blasdfeugb vêaugbae</p>
              </div>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="personnes">
          <!-- quatrième ensemble triangle gauche -->
          <div>
            <div class="containerAthenien">
              <div class="athenienDescript">
                <div class="rondGrand"></div>
              </div>
              <div>
                <p class="nomPrenom">Félix Welden</p>
                <p class="description">bla blab blasdfeugb vêaugbae</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="aPropos">
          <h2>athéna, qu'est-ce que c'est ?</h2>
        </div>
      </article>
      <article class="descriptifAthena">
        <p>athéna est votre solution CRM (Customer Relationship Management) pour développer, gérer et améliorer vos relations commerciales.</p>
        <p>Adopter athéna, c'est :</p>
        <ul>
          <li>Améliorer la gestion de vos contacts</li>
          <li>Augmenter votre productivité</li>
          <li>Dynamiser votre gestion des ventes</li>
          <li>Définir avec précision votre prévisionnel des ventes</li>
        </ul>
      </article>
    </section>

    <section>
      <article>
        <div class="aPropos">
          <h2>Les fonctionnalités athéna</h2>
        </div>
      </article>
      <article class="descriptifAthena">
        <dl>
          <dt>_Fonctionnalité n°1 : Gestion des contacts/clients</dt>
            <dd>athéna permet d'ajouter, de modifier des contacts en toute simplicité.</dd>
          <dt>_Fonctionnalité n°2 : Gestion des contacts/prospects</dt>
          <dd>athéna permet de gérer la relation client.</dd>
          <dt>_Fonctionnalité n°3 : Phase de vente</dt>
            <dd>athéna permet de visualiser d'un coup d'oeil les affaires en cours, de les classer selon l'étape du processus de vente : prospection, négociation, perdu ou gagné.</dd>
          <dt>_Fonctionnalité n°4 : Tableau de bord général</dt>
            <dd>L'entreprise peut avoir une vue d'ensemble sur son entreprise.</dd>
          <dt>_Fonctionnalité n°5 : Tableau de bord individuel</dt>
            <dd>Chaque client de l'entreprise possède son propre tableau de bord.</dd>
          <dt>_Fonctionnalité n°6 : L'agenda</dt>
            <dd>Gestion du temps, prise de rendez-vous.</dd>
          <dt>_Fonctionnalité n°7 : Le journal du client</dt>
            <dd>Le journal d'activités permet de planifier les différents projets en cours et à venir.</dd>
          <dt>_Fonctionnalité n°8 : Statistiques</dt>
            <dd>L'entreprise a une d'ensemble sur les différents chiffres.</dd>
          <dt>_Fonctionnalité n°9 : La carte</dt>
            <dd>La carte permet de localiser tous les clients de l'entreprise.</dd>
          <dt>_Fonctionnalité n°10 : Mobilité</dt>
            <dd>athéna est accessible partout grâce à son mode Mobile, Tablette et Bureau.</dd>
        </dl>
      </article>
    </section>



    <section>
      <article>
        <div class="positionTriangleSeparation">
          <div class="triangleSeparation"></div>
          <div class="triangleSeparation2"></div>
        </div>
      </article>>
    </section>

    <section>
      <article>
        <div>
          <h3>Formules d'abonnements athéna</h3>
        </div>
      </article>
    </section>

    <section class="lesFormules">
      <article class="articleAbonnement">
        <div class="formule">
          <span class="offreTitre">Starter</span>
          <hr>
          <div class="offre">
            <span class="offreDescription">CRM complet<br> pour 10 utilisateurs maximum</span>
            <span class="prix">19.99 €<br></span>
            <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
            <a class="btnEssai" routerLink="inscription" routerLinkActive="active">ESSAI GRATUIT</a>
          </div>
        </div>
      </article>
      <article>
        <div class="formule">
          <span class="offreTitre">Premium</span>
          <hr>
          <div class="offre">
            <span class="offreDescription">CRM complet<br>pour 50 utilisateurs maximum</span>
            <span class="prix">59.99 €<br></span>
            <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
            <a href="#" class="btnEssai" [routerLink]="'/inscription'">ESSAI GRATUIT</a>
          </div>
        </div>
      </article>
      <article>
        <div class="formule">
          <span class="offreTitre">Enterprise</span>
          <hr>
          <div class="offre">
            <span class="offreDescription">CRM complet<br>sans limite d'utilisateurs</span>
            <span class="prix">104.99 €<br></span>
            <span class="notePetit">/utilisateurs/mois<br>(facturation annuelle)</span><br>
            <a href="#" class="btnEssai" [routerLink]="'/inscription'">ESSAI GRATUIT</a>
          </div>
        </div>
      </article>
    </section>
  </main>

  <footer>
    <div class="triangleBleuBas"></div>
    <section>
      <article class="contact">
        <dt class="formContact">Contact</dt>
        <dt class="formDtContact">Téléphone</dt>
          <dd class="forDdContact">03 21 89 45 72</dd>
        <dt class="formDtContact">Email / Site internet</dt>
          <dd class="forDdContact">athenaInfo@athena.fr / www.athena-crm.com</dd>
        <dt class="formDtContact">Adresse</dt>
          <dd class="forDdContact">145 avenue des Affaires - 59000 Lille</dd>
      </article>

    </section>
  </footer>

</body>
