.site-content {
  margin-top: 650px;
}
.page {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: 100vh;
}

// .page
// {
//    background-image: url('src/assets/images/fondDegrade.svg');
//    background-repeat: no-repeat;
//    height: 100%;
// }
// .page
// {
//    background-image: url('src/assets/images/triangleOrangeDH.svg');
//    background-repeat: no-repeat;
//    height: 100%;
// }


/////////////////// dashboard général ///////////////////

.triangleDroitHaut {
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 1904px solid #FB8215;
  border-left : 790px solid transparent;
  position: absolute;
  z-index: 11;
  right: 0px;
}
.rectangle {
  width: 100%;
  height: 800px;
  background-color: #860e04;
  position: absolute;
  z-index: -1;
}
.rectangleTriangle{
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 300px solid #860e04;
  border-right : 1500px solid transparent;
  position: absolute;
  z-index: 10;
  top: 800px;
}
.fondImage{
  position: absolute;
  width: 374.667px;
  height: 758.667px;
  top:0;
  z-index: 2;
}
.athena{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 15;
  left: 9%;
}
img {
  width: 80%;
  margin: auto;
  margin-top: 4%;
}
.slogan{
  font-size: 1.2em;
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 4%;
}
.btnConnexInscript {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  z-index: 30;
  left: 70%;
}
.connexion:hover {
  background-color: #860E04;
  color: white;
  border: 1px solid #860E04;
  padding: 5px 60px 5px 60px;
  margin-top: 36px;
}
.connexion {
  background-color: white;
  color: #FB8215;
  border: 1px solid white;
  padding: 5px 60px 5px 60px;
  margin-top: 36px;
}
.positionFree {
  margin-top: 36px;
}
.essaiGratuit {
  color: white;
  border: 1px solid white;
  padding: 5px 64px 5px 64px;
}
.essaiGratuit:hover {
  color: #860E04;
  border: 1px solid #860E04;
  padding: 5px 64px 5px 64px;
}
a {
  text-decoration: none;
  font-size: 20px;

}

/////////////////// qui sommes nous ? ///////////////////
// main {
//     position: absolute;
// }
.site-content{
  width: 100%;
  margin: auto;
  margin-top: 1050px;
  position: absolute;
  z-index: 29;
}
.aPropos{
  font-size: 2em;
  text-align: left;
  border-left: #FB8215 1px solid;
  padding-left: 40px;
  margin-left: 80px;
}
.quiSommesNous {

  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}

/***************** athena, c'est quoi ? *****************/
.descriptifAthena {
  width: 60%;
  margin: auto;
  font-size: 1.3em;
  color: rgb(78, 78, 78);
}
li {
  color: rgb(78, 78, 78);
}

/***************** fonctionnalités *****************/
dt {
  color: #BF5805;
  margin-bottom: 10px;
}
dd {
  color: rgb(78, 78, 78);
  margin-bottom: 40px;
}

//**************** Description Gens ****************//
.personnes {
  margin-right: 45px;
  margin-left: 45px;
}
.nomPrenom {
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
}
.containerAthenien {
  padding-top: 50px;
}
.athenienDescript {
  display: flex;
  text-align: center;
}
.rondGrand {
  width: 165px;
  height: 165px;
  border: 2px solid #FB8215;
  border-radius: 100px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin: auto;
}
.description {
  text-align: center;
  font-style: italic;
  color: rgb(78, 78, 78);
}
.descriptifAthena {
  padding-top: 50px;

}
.positionTriangleSeparation {
  margin-top: 170px;
}
.triangleSeparation2 {
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 150px solid #860E04;
  border-left : 500px solid transparent;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 2599px;
}
.triangleSeparation {
  display : inline-block;
  height : 0;
  width : 0;
  border-top: 40px solid transparent;
  border-bottom : 180px solid transparent;
  border-left : 1583px solid #FB8215;
  position: absolute;
  z-index: 11;
}
h3 {
  width: 800px;
  font-size: 3em;
  color: #860E04;
  text-align: center;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #FB8215 1px solid;
}

/*
.triangleSeparationB {
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 100px solid #FBB062;
  border-right : 1583px solid transparent;
  position: absolute;
  z-index: 10;
  top: 800px;
}
*/


h2 {
  margin-top: 150px;
  color: #FB8215;
}
.titreAbonnemant {

}
.lesFormules {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.formAbonnement {
  font-size: 2em;
  text-align: left;
  border-left: #860E04 1px solid;
  padding-left: 40px;
  margin-left: 80px;
  position: absolute;
  z-index: 11;
}
.offre {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // height: 40vh;
  margin-left: auto;
  margin-right: auto;
}
.formule {
  width: 250px;
  display: block;
  flex-direction: column;
  text-align: center;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 10%;
  padding: 1rem;
  border: 1px solid #FB8215;
  border-radius: 0px 20px 20px 20px;
  background-color: white;
  box-shadow: 0 0 9px #BBBBBB;
}
.offreTitre {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  // text-align: left;
  color: #FB8215;

}
hr {
  width: 185px;
  border: none;
  border-bottom: 1px solid #FBB062;
  // background-color: #FBB062;
}
.offreDescription {
  width: 200px;
  font-size: 0.9em;
  text-align: left;
  color: rgb(78, 78, 78);

  margin-top: 8%;
  margin-left: 9%;
}
.notePetit {
  text-align: center;
  color:  rgb(78, 78, 78);
  font-size: 0.8em;
  padding-top: -10px;
}
.prix {
  font-size: 1.7em;
  font-weight: 900;
  padding-top: 10%;
}
.btnEssai {
  padding: 11px 6px 11px 6px;
  margin-top: 17%;
  font-size: 16px;
  font-weight: bold;
  // font:bold 13px Arial;
  background: #FB8215;
  color:white;
  border-radius: 5px;
  width:150px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 1px #999;
}
.btnEssai:hover {
  background-color: #860E04;
}

/////////////////// footer ///////////////////
.triangleBleuBas {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 1583px solid transparent;
  border-bottom: 320px solid #FB8215;
  margin-top: 4440px;
  position: absolute;
  z-index: 10;
}
h4 {
  position: absolute;
  z-index: 12;
  margin-top: 20px;
}
.contact {
  margin-top: 4490px;
  position: relative;
  z-index: 12;
}
.formContact {
  width: 65px;
  font-size: 19px;
  font-weight: bolder;
  color: #860E04;
  padding: 6px 6px 6px 50px;
  border-bottom: white 1px solid;

}
.formDtContact {
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
}
.forDdContact {
  color: #860E04;
  margin-bottom: 10px;
  margin-left: 50px;
}


/////////////////// VERSION IPAD ///////////////////
@media screen and (min-width: 768px){
  .triangleDroitHaut {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 1904px solid #FB8215;
    border-left : 790px solid transparent;
    position: absolute;
  }
  .athena{
    width: 40%;
    top: 10%;
  }

  .triangleDroitOrange {
    width: 650px;
  }
  .slogan{
    font-size: 2em;
    padding-top: 4%;
  }
  .btnConnexInscript {
    display: flex;
    justify-content: center;
    padding-top: 14%;
  }
  .connexion {
    margin-left: 11px;
    margin-right: 11px;
  }

}
