<div class="page">

  <header class="header">
    <div class="athenaLogo">
      <svg viewBox="0 0 319.394 367.938">
        <defs>
          <style>
            .cls-1 {
              fill: #fff;
            }
          </style>
        </defs>
        <g id="logoAthena4Bl" transform="translate(0.01 0.52)">
          <path id="Tracé_168" data-name="Tracé 168" class="cls-1" d="M382.59,226.183v-.24c-2.4,1.466-4.772,3.039-7.144,4.639a155.418,155.418,0,1,0-304.518.187c-2.479-1.68-4.958-3.306-7.438-4.825.533,28.524,8.8,61.314,24.792,93.3S125.337,377.362,148,395.223c0-4.239-.347-8.584-.773-12.983a233.345,233.345,0,0,0,35.456,27.645,216.333,216.333,0,0,0-9.464-40.254l49.718,42.387,50.091-42.653a216.542,216.542,0,0,0-9.57,40.521,227.854,227.854,0,0,0,35.722-27.8c-.427,4.452-.72,8.851-.8,13.143,22.393-17.861,43.72-43.986,59.715-75.976s24.259-64.78,24.792-93.3ZM223.2,399.755,166.5,351.77a293.239,293.239,0,0,0-24.339-46.119,272.928,272.928,0,0,0-59.475-66.3,143.181,143.181,0,0,1-5.572-39.534A146.088,146.088,0,1,1,363.85,239.032a273.407,273.407,0,0,0-59.875,66.646,293.238,293.238,0,0,0-24.312,46.012Z" transform="translate(-63.5 -44.6)"/>
          <path id="Tracé_169" data-name="Tracé 169" class="cls-1" d="M291.5,65.7l-88.506,38.121L114.488,65.7S60.9,112.352,79.566,159s123.428,96.77,123.695,96.77h0S308.294,205.656,326.955,159,291.5,65.7,291.5,65.7ZM132.616,160.6a20.794,20.794,0,1,1,20.794-20.794A20.794,20.794,0,0,1,132.616,160.6Zm70.378,69.845L175.536,179.8l27.458-27.458L230.452,179.8ZM273.372,160.6a20.794,20.794,0,1,1,20.794-20.794A20.794,20.794,0,0,1,273.372,160.6Z" transform="translate(-43.294 -8.585)"/>
        </g>
      </svg>
    </div>

    <div class="nav">
      <div>
        <a href="#" [routerLink]="'/dashboardGeneral'"><img src="/assets/images/iconeHome.svg" class="iconeNavOK"/></a>
      </div>
      <div>
        <a href="#" [routerLink]="'/clientStat'"><img src="/assets/images/stat.svg" class="iconeNavOK" class="select"/></a>
      </div>
      <div>
        <a href="#" [routerLink]="'/clientContact'"><img src="/assets/images/client.svg" class="iconeNavOK"/></a>
      </div>
      <div>
        <a href="#" [routerLink]="'/listProspects'"><img src="/assets/images/prospect.svg" class="iconeNavOK"/></a>
      </div>
      <div>
        <a href="#" [routerLink]="'/agenda'"><img src="/assets/images/agenda.svg" class="iconeNavOK"/></a>
      </div>
    </div>

    <div class="bandeauTriangles">
      <div class="triangleDroit"></div>
      <div class="triangleGauche"></div>
    </div>
  </header>

  <main class="container">
    <section>
      <article>
        <div class="categorieDashboard">
          <p class="titreCategorie">Statistiques</p>
          <hr>
        </div>
      </article>
    </section>
    <section>
      <article>
        <div class="contenuDashboard">
          <div class="boxChiffre">
            <div>Chiffre d'affaires du mois en €</div>
            <div class="chiffre" [countUp]="23549"></div>
          </div>
        </div>
      </article>

      <article class="conteneurGraph">
        <div class="graph">
          <div class="titreGraph">Chiffres par Clients</div>
            <div style="display: block">
              <canvas baseChart
                      [chartType]="'line'"
                      [datasets]="chartData"
                      [labels]="chartLabels"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartClick)="onChartClick($event)">
              </canvas>
            </div>
          <div class="sepGraph"></div>
        </div>


        <div class="graph">
          <div class="titreGraph">Chiffres des ventes par Trimestre</div>
            <div style="display: block">
              <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType">
              </canvas>
            </div>
          <div class="sepGraph"></div>
        </div>
        <div class="graph">
          <div class="titreGraph">Chiffres par trimestre</div>
            <div style="display: block;">
              <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend">
              </canvas>
            </div>
          <div class="sepGraph"></div>
        </div>
      </article>
    </section>
  </main>

  <footer>
    <div class="triangleBleuBas"></div>
  </footer>
</div>
