<body class="page">

<header class="header">
  <div class="athena">
    <img src="/assets/imagesOk/Athena.svg" alt="Athena">
  </div>
  <div class="bandeauTriangles">
    <div class="triangleDroit"></div>
    <div class="triangleGauche"></div>
  </div>
</header>

<main>
  <section>
    <article>
      <div class="categorieDashboard">
        <!--<hr>-->
        <p class="titreCategorie2">Dashboard de "La Brioche"</p>
      </div>
    </article>
  </section>
  <section class="conteneurIcones">
    <article class="boxIcones" [@icone1Animation]="state">
      <div>
        <a href="#" [routerLink]="'/dashboardGeneral'"><img src="/assets/images/home.svg" class="icone"/></a>
      </div>
      <div class="nomCategorie">accueil général</div>
    </article>

    <article>
      <div class="petitRond"></div>
    </article>
    <article class="boxIcones" [@icone2Animation]="state">
      <div>
        <a href="#" [routerLink]="'/clientStat'"><img src="/assets/images/stat.svg" class="icone"/></a>
      </div>
      <div class="nomCategorie">statistiques</div>
    </article>

    <article>
      <div class="petitRond"></div>
    </article>
    <article class="boxIcones" [@icone3Animation]="state">
      <div>
        <a href="#" [routerLink]="'/clientContact'"><img src="/assets/images/client.svg" class="icone"/></a>
      </div>
      <div class="nomCategorie">contacts</div>
    </article>

    <article>
      <div class="petitRond"></div>
    </article>
    <article class="boxIcones" [@icone4Animation]="state">
      <div>
        <a href="#" [routerLink]="'/journal'"><img src="/assets/images/mail.svg" class="icone"/></a>
      </div>
      <div class="nomCategorie">mail</div>
    </article>

    <article>
      <div class="petitRond"></div>
    </article>
    <article class="boxIcones" [@icone5Animation]="state">
      <div>
        <a href="#" [routerLink]="'/agendaLocal'"><img src="/assets/images/agenda.svg" class="icone"/></a>
      </div>
      <div class="nomCategorie">agenda</div>
    </article>

  </section>
</main>

<footer >
  <div class="triangleBleuBas"></div>
</footer>

</body>
