.page {
  font-family: 'Rubik', sans-serif;

  min-height: 100vh;
}

/////////////////// header ///////////////////

.header {
  display: flex;
  justify-content: space-between;
}

.athena {
  width: 10%;
  margin-top: 3%;
  margin-left: 3%;
  position: absolute;
  z-index: 4;
}

.triangleDroit {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 160px solid #FB8215;
  border-left: 800px solid transparent;
  position: absolute;
  z-index: 2;
  right: 0px;
}
.triangleGauche {
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 295px solid #860E04;
  border-right : 1472px solid transparent;
  position: relative;
  z-index: 3;
}


/////////////////// main ///////////////////

.titreCategorie {
  width: 620px;
  text-align: center;
  font-size: 3em;
  color: white;
  padding: 4px 4px 4px 4px;
  border:1px solid #BF5805;
  background-color: #BF5805;
  border-radius: 0px 6px 0px 6px;
}
.titreCategorie2 {
  width: 620px;
  text-align: center;
  font-size: 3em;
  color: #fb8215;
  padding: 4px 4px 4px 4px;
  border-bottom:1px solid #BF5805;
}
.categorieDashboard {
  margin-top: -140px;
  margin-left: 750px;
}
.conteneurIcones {
  width: 1300px;
  margin: auto;
  margin-top: 9%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.icone {
  background-color: #fb8215;
  border-radius: 50%;
}
.petitRond {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FB8215;
}
.nomCategorie {
  text-align: center;
  color: #fb8215;
  padding-top: 10%;
}
hr {
  border: none;
  height: 1px;
  width: 79px;
  background-color: #FB8215;
}

/////////////////// footer ///////////////////
.triangleBleuBas {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 1565px solid transparent;
  border-bottom: 49px solid white;
  margin-top: 5%;
}


/////////////////// VERSION IPAD ///////////////////
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .triangleGauche {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 180px solid #860E04;
    border-right: 900px solid transparent;
  }
  .triangleDroit {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 90px solid white;
    border-left: 332px solid transparent;
  }
  .athena {
    width: 10%;
    margin-top: 3%;
    margin-left: 3%;
  }
  .triangleBurger {
    width: 465px;
  }
  .conteneurIcones {
    width: 900px;
    margin-top: 15%;
  }
  .boxIcones {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .icone {
    width: 65%;
  }
  .petitRond {
    width: 10px;
    height: 10px;
  }
  .triangleBleuBas {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 1024px solid transparent;
    border-bottom: 49px solid #FB8215;
    margin-top: 5%;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .triangleGauche {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 180px solid #860E04;
    border-right: 346px solid transparent;
  }
  .triangleDroit {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 90px solid white;
    border-left: 243px solid transparent;
  }
  .athena {
    width: 23%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .conteneurIcones {
    width: 250px;
    justify-content: left;
    margin-top: 3%;
  }
  .icone {
    width: 70px;
  }
  .petitRond {
    width: 0px;
    height: 0px;
  }
  .boxIcones {
    display: inline-flex;
    align-content: center;
    padding-bottom: 25px;
    padding-left: 47px;
  }
  .nomCategorie {
    margin-left: 18px;
    margin-top: 8px;
  }
  .triangleBleuBas {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 375px solid transparent;
    border-bottom: 49px solid #FB8215;
    margin-top: 5%;
  }

}

