.page {
  font-family: 'Rubik', sans-serif;
}


/////////////////// header ///////////////////


.athenaLogo {
  width: 10%;
  margin-top: -1%;
  margin-left: -1.5%;
  position: absolute;
  z-index: 4;
  opacity: 0.5;
}

.triangleDroit {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 160px solid #FB8215;
  border-left: 800px solid transparent;
  position: absolute;
  z-index: 2;
  right: 0px;
}
.triangleGauche {
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 295px solid #fbb062;
  border-right : 1472px solid transparent;
  position: relative;
  z-index: 3;
}

/********* NAV *********/
.iconeNav {
  width: 60%;
}
.nav {
  width: 35%;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 10;
  margin-top: 3.5%;
  margin-left: 11%;
}
.iconeNavOK {
  width: 60%;
  border-radius: 50px;
  background-color: #FBB062;
  border-image-outset: white 2px solid;
}
.iconeNavOK:hover {
  box-shadow: white 0px 0px 30px 1px;
  background-color: white;
}
.select {
  width: 60%;
  border-radius: 50px;
  box-shadow: white 0px 0px 30px 1px;
  background-color: white;
}

/////////////////// main ///////////////////

.titreCategorie {
  width: 320px;
  text-align: center;
  font-size: 3em;
  color: white;
  padding: 4px 4px 4px 4px;
  border:1px solid #BF5805;
  background-color: #BF5805;
  border-radius: 0px 6px 0px 6px;
}

.categorieDashboard {
  margin-top: -150px;
  margin-left: 1100px;
}
hr {
  border: none;
  height: 1px;
  width: 154px;
  background-color: #BF5805;
  margin-top: -80px;
  margin-right: 0px;
}
.contenuDashboard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.agendaPage {
  width: 95%;
  margin: auto;
  margin-top: 8%;
}

/////////////////// footer ///////////////////

.triangleBleuBas {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 1565px solid transparent;
  border-bottom: 49px solid #FB8215;
  margin-top: 5%;
}

/////////////////// VERSION IPAD ///////////////////
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .triangleGauche {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 180px solid #FBB062;
    border-right: 900px solid transparent;
  }
  .triangleDroit {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 90px solid #FB8215;
    border-left: 332px solid transparent;
  }
  .athena {
    width: 10%;
    margin-top: 3%;
    margin-left: 3%;
  }
  .triangleBleuBas {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 1024px solid transparent;
    border-bottom: 49px solid #FB8215;
    margin-top: 5%;
  }
  .categorieDashboard {
    margin-top: -90px;
    margin-left: 655px;
  }
  .titreCategorie {
    width: 230px;
    text-align: center;
    font-size: 2em;
  }
  hr {
    width: 130px;
    margin-top: -56px;
  }
  .contenuDashboard {
    margin-top: 60px;
  }

}


/////////////////// VERSION MOBILE ///////////////////
@media screen and (min-width: 375px) and (max-width: 767px) {
  .triangleGauche {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 180px solid #FBB062;
    border-right: 346px solid transparent;
  }
  .triangleDroit {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 90px solid #FB8215;
    border-left: 243px solid transparent;
  }
  .athenaLogo {
    width: 23%;
    margin-top: -1%;
    margin-left: -3%;
  }
  .nav {
    visibility: hidden;
  }
  .categorieDashboard {
    margin-top: -70px;
    margin-left: 150px;
  }
  .titreCategorie {
    width: 170px;
    text-align: center;
    font-size: 1.3em;
  }
  hr {
    width: 45px;
    margin-top: -43px;
  }
  .contenuDashboard {
    margin-top: 40px;
  }

}

